<form [formGroup]="formParams" (ngSubmit)="onSubmit()">
  <label>
    <span>ConfidenceThresholdEnable:</span>
    <input type="text" formControlName="ConfidenceThresholdEnable" [(ngModel)]="paramsNum.ConfidenceThresholdEnable" required>
    <p>{{lucid1.ConfidenceThresholdEnable}}</p>
  </label>
  <label>
    <span>ConfidenceThresholdMin:</span>
    <input type="text" formControlName="ConfidenceThresholdMin" [(ngModel)]="paramsNum.ConfidenceThresholdMin" required>
    <p>{{lucid1.ConfidenceThresholdMin}}</p>
  </label>
  <div formGroupName="ROIParam">
    <h3>ROIParam</h3>
    <label>
      <span>ROI_MinX:</span>
      <input type="text" formControlName="ROI_MinX" [(ngModel)]="paramsNum.ROIParam.ROI_MinX" required>
      <p>{{lucid1.ROIParam.ROI_MinX}}</p>
    </label>
    <label>
      <span>ROI_MinY:</span>
      <input type="text" formControlName="ROI_MinY" [(ngModel)]="paramsNum.ROIParam.ROI_MinY" required>
      <p>{{lucid1.ROIParam.ROI_MinX}}</p>
    </label>
    <label>
      <span>ROI_MinZ:</span>
      <input type="text" formControlName="ROI_MinZ" [(ngModel)]="paramsNum.ROIParam.ROI_MinZ" required>
      <p>{{lucid1.ROIParam.ROI_MinZ}}</p>
    </label>
    <label>
      <span>ROI_MaxX:</span>
      <input type="text" formControlName="ROI_MaxX" [(ngModel)]="paramsNum.ROIParam.ROI_MaxX" required>
      <p>{{lucid1.ROIParam.ROI_MaxX}}</p>
    </label>
    <label>
      <span>ROI_MaxY:</span>
      <input type="text" formControlName="ROI_MaxY" [(ngModel)]="paramsNum.ROIParam.ROI_MaxY" required>
      <p>{{lucid1.ROIParam.ROI_MaxY}}</p>
    </label>
    <label>
      <span>ROI_MaxZ:</span>
      <input type="text" formControlName="ROI_MaxZ" [(ngModel)]="paramsNum.ROIParam.ROI_MaxZ" required>
      <p>{{lucid1.ROIParam.ROI_MaxZ}}</p>
    </label>
  </div>

  <button type="submit" [disabled]="!formParams.valid">パラメータ送信</button>
</form>

<!-- <p>
  Form Value: {{ formParams.value | json }}
</p> -->


<h3>
  Form Status: {{ formParams.status }}
</h3>
<h3>パラメータ更新</h3>
<button (click)="fetchCameraParams()">カメラ設定値確認</button>
<button (click)="returnParams()">設定値に戻す</button>
<button (click)="returnFirstParams()">初期値に戻す</button>