<mat-drawer-container class="example-container">

  <div class="example-sidenav-content">
    <div class="header-area">
      <p>this is test-interface</p>
      <button type="button" mat-button (click)="drawer.toggle()">
        Parameter
      </button>
    </div>

    <div class="engine-wrapper">
      <canvas #rendererCanvas></canvas>
      <div id="WebGL-output">
      </div>
    </div>
  </div>



  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

</mat-drawer-container>