<form [formGroup]="BoxRecogParam" (ngSubmit)="onSubmit()">
  <div class="params-area" formGroupName="BoxParam">
    <h3>BoxParam</h3>

    <label>
      <span matTooltip="{{info[0]}}" matTooltipPosition="after">Boxthickness:</span>
      <input type="text" formControlName="Boxthickness" [(ngModel)]="paramsNum.BoxParam.Boxthickness" required>
      <p>{{recog.BoxParam.Boxthickness}}</p>
    </label>
    <label>
      <span matTooltip="{{info[1]}}" matTooltipPosition="after">BoxOutWidth:</span>
      <input type="text" formControlName="BoxOutWidth" [(ngModel)]="paramsNum.BoxParam.BoxOutWidth" required>
      <p>{{recog.BoxParam.BoxOutWidth}}</p>
    </label>
    <label>
      <span matTooltip="{{info[2]}}" matTooltipPosition="after">BoxOutHeight:</span>
      <input type="text" formControlName="BoxOutHeight" [(ngModel)]="paramsNum.BoxParam.BoxOutHeight" required>
      <p>{{recog.BoxParam.BoxOutHeight}}</p>
    </label>
    <label>
      <span matTooltip="{{info[3]}}" matTooltipPosition="after">ModelStep:</span>
      <input type="text" formControlName="ModelStep" [(ngModel)]="paramsNum.BoxParam.ModelStep" required>
      <p>{{recog.BoxParam.ModelStep}}</p>
    </label>
    <label>
      <span matTooltip="{{info[4]}}" matTooltipPosition="after">ModelBoxDepth:</span>
      <input type="text" formControlName="ModelBoxDepth" [(ngModel)]="paramsNum.BoxParam.ModelBoxDepth" required>
      <p>{{recog.BoxParam.ModelBoxDepth}}</p>
    </label>
    <label>
      <span matTooltip="{{info[5]}}" matTooltipPosition="after">zDirection:</span>
      <input type="text" formControlName="zDirection" [(ngModel)]="paramsNum.BoxParam.zDirection" required>
      <p>{{recog.BoxParam.zDirection}}</p>
    </label>
  </div>
  <label>
    <span matTooltip="{{info[6]}}" matTooltipPosition="after">SceneLeafSize:</span>
    <input type="text" formControlName="SceneLeafSize" [(ngModel)]="paramsNum.SceneLeafSize" required>
    <p>{{recog.SceneLeafSize}}</p>
  </label>
  <label>
    <span matTooltip="{{info[7]}}" matTooltipPosition="after">PlaneNormalAngle:</span>
    <input type="text" formControlName="PlaneNormalAngle" [(ngModel)]="paramsNum.PlaneNormalAngle" required>
    <p>{{recog.PlaneNormalAngle}}</p>
  </label>
  <label>
    <span matTooltip="{{info[8]}}" matTooltipPosition="after">PlaneDistanceThreshold:</span>
    <input type="text" formControlName="PlaneDistanceThreshold" [(ngModel)]="paramsNum.PlaneDistanceThreshold" required>
    <p>{{recog.PlaneDistanceThreshold}}</p>
  </label>
  <label>
    <span matTooltip="{{info[9]}}" matTooltipPosition="after">EdgePointDelete_Step:</span>
    <input type="text" formControlName="EdgePointDelete_Step" [(ngModel)]="paramsNum.EdgePointDelete_Step" required>
    <p>{{recog.EdgePointDelete_Step}}</p>
  </label>
  <label>
    <span matTooltip="{{info[10]}}" matTooltipPosition="after">LineDistanceThreshold:</span>
    <input type="text" formControlName="LineDistanceThreshold" [(ngModel)]="paramsNum.LineDistanceThreshold" required>
    <p>{{recog.LineDistanceThreshold}}</p>
  </label>
  <label>
    <span matTooltip="{{info[11]}}" matTooltipPosition="after">BoxEdgeFormedAngleThreshold:</span>
    <input type="text" formControlName="BoxEdgeFormedAngleThreshold" [(ngModel)]="paramsNum.BoxEdgeFormedAngleThreshold" required>
    <p>{{recog.BoxEdgeFormedAngleThreshold}}</p>
  </label>
  <label>
    <span matTooltip="{{info[12]}}" matTooltipPosition="after">BoxLengthErrorThreshold:</span>
    <input type="text" formControlName="BoxLengthErrorThreshold" [(ngModel)]="paramsNum.BoxLengthErrorThreshold" required>
    <p>{{recog.BoxLengthErrorThreshold}}</p>
  </label>
  <label>
    <span matTooltip="{{info[13]}}" matTooltipPosition="after">BoxPointRadius:</span>
    <input type="text" formControlName="BoxPointRadius" [(ngModel)]="paramsNum.BoxPointRadius" required>
    <p>{{recog.BoxPointRadius}}</p>
  </label>
  <label>
    <span matTooltip="{{info[14]}}" matTooltipPosition="after">BoxFramePointRate:</span>
    <input type="text" formControlName="BoxFramePointRate" [(ngModel)]="paramsNum.BoxFramePointRate" required>
    <p>{{recog.BoxFramePointRate}}</p>
  </label>
  <label>
    <span matTooltip="{{info[15]}}" matTooltipPosition="after">MaxBoxRecogNum:</span>
    <input type="text" formControlName="MaxBoxRecogNum" [(ngModel)]="paramsNum.MaxBoxRecogNum" required>
    <p>{{recog.MaxBoxRecogNum}}</p>
  </label>
  <label>
    <span matTooltip="{{info[16]}}" matTooltipPosition="after">VoxelPointNumThreshold:</span>
    <input type="text" formControlName="VoxelPointNumThreshold" [(ngModel)]="paramsNum.VoxelPointNumThreshold" required>
    <p>{{recog.VoxelPointNumThreshold}}</p>
  </label>
  <label>
    <span matTooltip="{{info[17]}}" matTooltipPosition="after">VoxelXSize:</span>
    <input type="text" formControlName="VoxelXSize" [(ngModel)]="paramsNum.VoxelXSize" required>
    <p>{{recog.VoxelXSize}}</p>
  </label>
  <label>
    <span matTooltip="{{info[18]}}" matTooltipPosition="after">VoxelYSize:</span>
    <input type="text" formControlName="VoxelYSize" [(ngModel)]="paramsNum.VoxelYSize" required>
    <p>{{recog.VoxelYSize}}</p>
  </label>
  <label>
    <span matTooltip="{{info[19]}}" matTooltipPosition="after">VoxelZSize:</span>
    <input type="text" formControlName="VoxelZSize" [(ngModel)]="paramsNum.VoxelZSize" required>
    <p>{{recog.VoxelZSize}}</p>
  </label>

  <div formGroupName="ICPParam">
    <h3>ICPParam</h3>
    <label>
      <span matTooltip="{{info[20]}}" matTooltipPosition="after">icp_maxIterations:</span>
      <input type="text" formControlName="icp_maxIterations" [(ngModel)]="paramsNum.ICPParam.icp_maxIterations" required>
      <p>{{recog.ICPParam.icp_maxIterations}}</p>
    </label>
    <label>
      <span matTooltip="{{info[21]}}" matTooltipPosition="after">icp_euclideanFitnessEpsilon:</span>
      <input type="text" formControlName="icp_euclideanFitnessEpsilon" [(ngModel)]="paramsNum.ICPParam.icp_euclideanFitnessEpsilon" required>
      <p>{{recog.ICPParam.icp_euclideanFitnessEpsilon}}</p>
    </label>
    <label>
      <span matTooltip="{{info[22]}}" matTooltipPosition="after">icp_thresScore:</span>
      <input matTooltip="{{info[22]}}" matTooltipPosition="after" type="text" formControlName="icp_thresScore" [(ngModel)]="paramsNum.ICPParam.icp_thresScore" required>
      <p>{{recog.ICPParam.icp_thresScore}}</p>
    </label>
  </div>

  <button type="submit" [disabled]="!BoxRecogParam.valid">パラメータ送信</button>
</form>

<!-- <p>
  Form Value: {{ BoxRecogParam.value | json }}
</p> -->
<h3>認識パラメータソフト側</h3>
<button type="submit" (click)="fetchRecogParams()">設定値確認</button>
<h3>
  Form Status: {{ BoxRecogParam.status }}
</h3>