<form [formGroup]="BoxRecogParam" (ngSubmit)="onSubmit()">
  <div class="params-area" formGroupName="BoxParam">
    <h3>BoxParam</h3>

    <label>
      <span>Boxthickness:</span>
      <input type="text" formControlName="Boxthickness" required>
      <p>{{BoxRecog.BoxParam.Boxthickness}}</p>
    </label>
    <label>
      <span>BoxOutWidth:</span>
      <input type="text" formControlName="BoxOutWidth" required>
      <p>{{BoxRecog.BoxParam.BoxOutWidth}}</p>
    </label>
    <label>
      <span>BoxOutHeight:</span>
      <input type="text" formControlName="BoxOutHeight" required>
      <p>{{BoxRecog.BoxParam.BoxOutHeight}}</p>
    </label>
    <label>
      <span>ModelStep:</span>
      <input type="text" formControlName="ModelStep" required>
      <p>{{BoxRecog.BoxParam.ModelStep}}</p>
    </label>
    <label>
      <span>ModelBoxDepth:</span>
      <input type="text" formControlName="ModelBoxDepth" required>
      <p>{{BoxRecog.BoxParam.ModelBoxDepth}}</p>
    </label>
    <label>
      <span>zDirection:</span>
      <input type="text" formControlName="zDirection" required>
      <p>{{BoxRecog.BoxParam.zDirection}}</p>
    </label>
  </div>
  <label>
    <span>SceneLeafSize:</span>
    <input type="text" formControlName="SceneLeafSize" required>
    <p>{{BoxRecog.SceneLeafSize}}</p>
  </label>
  <label>
    <span>PlaneNormalAngle:</span>
    <input type="text" formControlName="PlaneNormalAngle" required>
    <p>{{BoxRecog.PlaneNormalAngle}}</p>
  </label>
  <label>
    <span>PlaneDistanceThreshold:</span>
    <input type="text" formControlName="PlaneDistanceThreshold" required>
    <p>{{BoxRecog.PlaneDistanceThreshold}}</p>
  </label>
  <label>
    <span>EdgePointDelete_Step:</span>
    <input type="text" formControlName="EdgePointDelete_Step" required>
    <p>{{BoxRecog.EdgePointDelete_Step}}</p>
  </label>
  <label>
    <span>LineDistanceThreshold:</span>
    <input type="text" formControlName="LineDistanceThreshold" required>
    <p>{{BoxRecog.LineDistanceThreshold}}</p>
  </label>
  <label>
    <span>LineIntegrationDistance:</span>
    <input type="text" formControlName="LineIntegrationDistance" required>
    <p>{{BoxRecog.LineIntegrationDistance}}</p>
  </label>
  <label>
    <span>BoxEdgeFormedAngleThreshold:</span>
    <input type="text" formControlName="BoxEdgeFormedAngleThreshold" required>
    <p>{{BoxRecog.BoxEdgeFormedAngleThreshold}}</p>
  </label>
  <label>
    <span>BoxLengthErrorThreshold:</span>
    <input type="text" formControlName="BoxLengthErrorThreshold" required>
    <p>{{BoxRecog.BoxLengthErrorThreshold}}</p>
  </label>
  <label>
    <span>BoxPointRadius:</span>
    <input type="text" formControlName="BoxPointRadius" required>
    <p>{{BoxRecog.BoxPointRadius}}</p>
  </label>
  <label>
    <span>BoxFramePointRate:</span>
    <input type="text" formControlName="BoxFramePointRate" required>
    <p>{{BoxRecog.BoxFramePointRate}}</p>
  </label>
  <label>
    <span>MaxBoxRecogNum:</span>
    <input type="text" formControlName="MaxBoxRecogNum" required>
    <p>{{BoxRecog.MaxBoxRecogNum}}</p>
  </label>
  <label>
    <span>VoxelPointNumThreshold:</span>
    <input type="text" formControlName="VoxelPointNumThreshold" required>
    <p>{{BoxRecog.VoxelPointNumThreshold}}</p>
  </label>
  <label>
    <span>VoxelXSize:</span>
    <input type="text" formControlName="VoxelXSize" required>
    <p>{{BoxRecog.VoxelXSize}}</p>
  </label>
  <label>
    <span>VoxelYSize:</span>
    <input type="text" formControlName="VoxelYSize" required>
    <p>{{BoxRecog.VoxelYSize}}</p>
  </label>
  <label>
    <span>VoxelZSize:</span>
    <input type="text" formControlName="VoxelZSize" required>
    <p>{{BoxRecog.VoxelZSize}}</p>
  </label>

  <div formGroupName="ICPParam">
    <h3>ICPParam</h3>
    <label>
      <span>icp_maxIterations:</span>
      <input type="text" formControlName="icp_maxIterations" required>
      <p>{{BoxRecog.ICPParam.icp_maxIterations}}</p>
    </label>
    <label>
      <span>icp_euclideanFitnessEpsilon:</span>
      <input type="text" formControlName="icp_euclideanFitnessEpsilon" required>
      <p>{{BoxRecog.ICPParam.icp_euclideanFitnessEpsilon}}</p>
    </label>
    <label>
      <span>icp_thresScore:</span>
      <input type="text" formControlName="icp_thresScore" required>
      <p>{{BoxRecog.ICPParam.icp_thresScore}}</p>
    </label>
  </div>

  <button type="submit" [disabled]="!BoxRecogParam.valid">パラメータ送信</button>
</form>

<!-- <p>
  Form Value: {{ BoxRecogParam.value | json }}
</p> -->
<h3>認識パラメータソフト側</h3>
<button type="submit" (click)="fetchRecogParams()">設定値確認</button>
<h3>
  Form Status: {{ BoxRecogParam.status }}
</h3>